<style>
    html,
    body {
        background-color: rgb(243, 243, 243);
    }

    .about-img {
        max-width: 500px;
        height: auto;
        border-radius: 20px;
    }
</style>

<br><br>
<div class="container-md mt-5 p-5">
    <div class="d-flex gap-4 align-items-start">
        <!-- Image on the left -->
        <div class="">
            <img src="/images/img/workspace.jpg" alt="" class="about-img">
        </div>

        <!-- Content on the right -->
        <div class="p-2">
            <h4>About Us</h4>
            <p>
                e-District Grievance Management is your trusted platform for lodging and managing grievances efficiently
                 . Our system offers a seamless interface that ensures citizens can easily submit
                  their concerns and receive timely resolutions from the appropriate authorities, enhancing transparency 
                  and trust in public services.
                <br><br>
               At e-District Grievance Management, we believe in accessibility, efficiency, and accountability. Our platform 
               is designed to serve the needs of every citizen, providing a straightforward process for grievance redressal.
                Whether it’s addressing local issues, seeking assistance, or ensuring fair resolutions, we are committed to 
                making public service interactions smoother and more responsive for all.
            </p>


        </div>
    </div>

    <div class="row g-4 mt-4">
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/vision.png" width="20%" class="mb-3">
                <h4><b>Our Vision</b></h4>
                <p>
                    To revolutionize grievance management  by providing a modern 
                    digital platform that empowers citizens to file complaints, track progress, and
                     communicate with officials seamlessly, ensuring transparency, efficiency, and
                     timely resolution of community issues.
                </p>
                <br>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-sm p-5">
                <img src="/images/icons/mission.png" width="20%" class="mb-3">
                <h4><b>Our Mission</b></h4>
                <p>
                   our mission is to empower citizens  by providing a transparent
                    and accessible platform to voice concerns and seek resolutions.
                     We aim to foster trust between the public and authorities through 
                     efficient, timely responses. Our goal is to enhance the citizen
                      experience by streamlining grievance management and ensuring accountability.
                </p>
            </div>
        </div>
    </div>



</div>